<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categorias</title>
  </head>
  <body>
    <div class="container">
      <div id="title">
        <h1>Formulario Categorías</h1>
      </div>

      <div class="container__form">
        <form id="form">
          <div class="nombre">
            <label for="nombre">nombre</label>
            <input type="text" placeholder="nombre" />
          </div>

          <div class="descripcion">
            <label for="descripcion">descripción</label>
            <textarea name="descripcion" id="descripcion"></textarea>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
