*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    color: #000;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu__link{
   padding: 10px;
   cursor: pointer;
   text-decoration: none;
   color: #202020;
   font-weight: bold;
}

.menu__link:hover{
    background-color: #908e8e;
    border-radius: 11px;
    transform: scale(1.1);
}

